<!DOCTYPE html>
<html lang="en">
  <head>
  
  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- For Search Engine Meta Data  -->
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="yoursite.com" />
	
  <title>Apphoot : Home</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/icon" href="images/favicon-16x16.png"/>
   
  <!-- Main structure css file -->
  <link  rel="stylesheet" href="css/style.css">
  
  <!-- Responsive css -->
  <link rel="stylesheet" href="css/responsive.css">
  
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if IE]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
 
  </head>
  
  <body>
  <!-- Start Preloader -->
  <div id="preload-block">
    <div class="square-block"></div>  
  </div>
  <!-- End Preloader -->
  
  <!-- Start Header Section -->
  <header id="header">
    <!-- Start Main Menu -->
    <nav id="mainnav" class="navbar navbar-default" role="navigation">
		<div class="container">
      <div class="navbar-header">
        <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <!-- Start Brand/Logo Block -->
         <a class="navbar-brand" href="index.html">
		   <img class="logo-scroll" src="images/logo.png" alt="logo">
		   <img class="logo-dark-scroll" src="images/logo-dark.png" style="display: none;">
		 </a>
	  </div>
	  <!--  Collect the nav links, forms, and other content for toggling  -->
      <div id="navbar" class="navbar-collapse collapse">
        <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
          <li class="active"><a href="#header" class="page-scroll">Home</a></li>
          <li><a href="#feature" class="page-scroll">Features</a></li>
          <li><a href="#indepth" class="page-scroll">In-depth</a></li>
		  <li><a href="#screenshots" class="page-scroll">Screenshots</a></li>
		  <li><a href="#faq" class="page-scroll">FAQ</a></li>
		  <li><a href="#reviews" class="page-scroll">Reviews</a></li> 
          <li><a href="#plans" class="page-scroll">Plan</a></li>       
          <li><a href="#contactus" class="page-scroll">Contact</a></li>
        </ul>       
      </div><!--/.nav-collapse -->
      </div>   
    </nav>  
    <!-- End Main Menu -->  
  </header>
  <!-- End Header Section --> 
	
  <!-- Start Slideshow Section -->
  <section id="slideshow">
    <div class="owl-carousel owlslider">
	  <div class="slide-item">
	    <div class="container">
		  <div class="row">
		    <div class="slide-caption">
			  <div class="col-md-7 col-sm-6">
			    <div class="animate-block">
				  <h2>It is So Simple</h2>
				  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis veritatis, nam fuga rerum, unde provident iusto nisi reprehenderit dolores eos.</p>
				   <div class="platform-btn">
				     <a class="btn btn-platform">
					   <span class="fa fa-mobile"></span> <em> Available on </em> App store
					 </a>
					 <a class="btn btn-platform">
					   <span class="fa fa-android"></span> <em> Available on </em> Google Play
					 </a>
				   </div>
				 </div> <!--/ animate-block -->
			  </div>
			  <div class="col-md-5 col-sm-6">
			    <div class="hand-phone hidden-xs">
				  <img class="img img-responsive handsup-app" src="images/slider/slideshow-300x427.png" alt="Phone">
				</div>
			  </div>
			  <div class="clearfix"></div>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="slide-item">
	    <div class="container">
		  <div class="row">
		    <div class="slide-caption">
			  <div class="col-md-7 col-sm-6">
			    <div class="animate-block">
				  <h2>Fill the Business Gap</h2>
				  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis veritatis, nam fuga rerum, unde provident iusto nisi reprehenderit dolores eos.</p>
				   <div class="platform-btn">
				     <a class="btn btn-platform">
					   <span class="fa fa-mobile"></span> <em> Available on </em> App store
					 </a>
					 <a class="btn btn-platform">
					   <span class="fa fa-android"></span> <em> Available on </em> Google Play
					 </a>
				   </div>
				 </div> <!--/ animate-block -->
			  </div>
			  <div class="col-md-5 col-sm-6">
			    <div class="hand-phone hidden-xs">
				  <img class="img img-responsive handsup-app" src="images/slider/slideshow-300x427.png" alt="Phone">
				</div>
			  </div>
			  <div class="clearfix"></div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
  <!-- End Slideshow Section -->
  
  <!-- Start Featured Publisher -->
  <section id="publisher-container">
    <div class="container">
	  <div class="row">
	    <div class="col-md-12">
		  <ul class="featured-logo">
		    <li class="hidden-xs"><span>Featured on</span></li>
			<li><a href="#"><img class="img-responsive" src="images/publisher/forbes.png"></a></li>
			<li><a href="#"><img class="img-responsive" src="images/publisher/theguardian.png"></a></li>
			<li class="hidden-xs"><a href="#"><img class="img-responsive" src="images/publisher/wired.png"></a></li>
			<li class="hidden-xs"><a href="#"><img class="img-responsive" src="images/publisher/bbc.png"></a></li>
			<li class="hidden-xs hidden-sm"><a href="#"><img class="img-responsive" src="images/publisher/bbc.png"></a></li>
		  </ul>
		</div>
	  </div>
	</div>
  </section>
  <!-- End Featured Publisher -->

  <!-- Start Feature Section -->
  <section id="feature" class="padding-2x">
    <div class="container">
	  <div class="row">
	    <div class="col-md-6 col-md-offset-3">
          <div class="section-heading text-center">
		    <h2 class="title">Meet the Feature</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. 
			Aenean nonummy hendrerit mauris.</p>
          </div>
        </div>
	  </div>
	  <div class="row">
        <div class="col-sm-4 col-md-4">
		  <!-- Start User Friendly Block -->
          <div class="box-content text-center">
		    <div class="block-icon">
			  <span aria-hidden="true" class="icon-browser fa-3x"></span>
			</div>
			<h3>User Friendly</h3>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie.</p>
          </div>
          <!-- End Block -->
		</div>
        <div class="col-sm-4 col-md-4">
		  <!-- Start Supper Fast Block -->
		  <div class="box-content text-center">
		    <div class="block-icon">
			  <span class="icon-speedometer fa-3x"></span>
			</div>
			<h3>Supper Fast</h3>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie.</p>
		  </div>
          <!-- End Block -->
		</div>
        <div class="col-sm-4 col-md-4">
		  <!-- Start Analytics Block -->
		  <div class="box-content text-center">
		    <div class="block-icon">
			  <span class="icon-bargraph fa-3x"></span>
			</div>
			<h3>Analytics</h3>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie.</p>
		  </div>
          <!-- End Block -->
		</div>
      </div>
	  <div class="row">
	    <div class="col-sm-4 col-md-4">
		  <!-- Start Photo Gallery Block -->
		  <div class="box-content no-border text-center">
		    <div class="block-icon">
			  <span class="icon-pictures fa-3x"></span>
			</div>
			<h3>Photo Gallery</h3>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie.</p>
		  </div>
		  <!-- End Block -->
		</div>
	    <div class="col-sm-4 col-md-4">
		  <!-- Start Manage Event Block -->
		  <div class="box-content no-border text-center">
		    <div class="block-icon">
			  <span class="icon-calendar fa-3x"></span>
			</div>
			<h3>Manage Event</h3>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie.</p>
		  </div>
		  <!-- End Block -->
		</div>
	    <div class="col-sm-4 col-md-4">
		  <!-- Start Support Block -->
		  <div class="box-content no-border-last text-center">
		    <div class="block-icon">
			  <span class="icon-lifesaver fa-3x"></span>
			</div>
			<h3>24/7 Support</h3>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie.</p>
		  </div>
		  <!-- End Block -->
		</div>
	  </div>
	</div>
  </section>
  <!-- End Feature Section -->
  
  <!-- Start In-depth Section -->
  <section id="indepth" class="grey-bg padding-2x">
    <div class="container">
	  <div class="row">
	    <div class="col-sm-6 col-md-6">
		  <div class="section-heading">
		    <h2>Easy setup for sellers and contractors</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. 
			Aenean nonummy hendrerit mauris.</p>
			<a class="btn btn-lg btn-secondary" href="#request-demo">Schedule a demo</a>
		  </div>
		</div>
		<div class="col-sm-6 col-md-6">
		   <video id="my_video_1" class="video-js vjs-default-skin" width="100%" height="255" poster='images/background/underwater.jpg' 
			data-setup='{ "techOrder": ["youtube"], "ytcontrols":true, "sources": [{ "type": "video/youtube", "src": "Youtube Video URL"}] }'>
			</video>
		</div>
	  </div>
	</div>
  </section>
  <!-- End In-depth Section -->
  
  <!-- Start Platform Section -->
  <section id="platform">
    <div class="container padding-2x">
	    <!-- Platform titile -->
        <div class="row">
		  <div class="col-md-6 col-md-offset-3">
		    <div class="section-heading text-center">
			  <h2 class="title">Our Platform</h2>
			  <p>Magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada</p>
			</div>
		  </div>
		</div>
		<!-- Patform Content -->
        <div class="row">
		  <div class="col-sm-6">
		    <div class="platform-img">
		      <img src="images/platform/ipad.png" class="img-responsive" alt="platform image">
			</div>
		  </div>
		  <div class="col-sm-6">
		    <!-- Start Medium List -->
		    <div class="medium-list">
              <ul class="tab-list">
                <li class="active">
				  <div class="medium">
				    <div class="medium-left">
					  <i class="icon-tools fa-3x" aria-hidden="true"></i>
					</div>
				    <div class="medium-body">
                      <h4 class="medium-heading">Easy to Navigate</h4>
                      <p>Sagittis blandit lorem, varius vit turpis lacus sem volutpat, ligula sit nibh feugiat, sed blandit et sit quisque amet.</p>
				    </div>
				  </div>
				</li>
                <li class="">
				  <div class="medium">
				    <div class="medium-left">
					  <i class="icon-chat fa-3x" aria-hidden="true"></i>
					</div>
				    <div class="medium-body">
                      <h4 class="medium-heading">Instant Chat</h4>
                      <p>Sagittis blandit lorem, varius vit turpis lacus sem volutpat, ligula sit nibh feugiat, sed blandit et sit quisque amet.</p>
				    </div>
				  </div>
				</li>
                <li class="">
				  <div class="medium">
				    <div class="medium-left">
					  <i class="icon-envelope fa-3x" aria-hidden="true"></i>
					</div>
				    <div class="medium-body">
                      <h4 class="medium-heading">Quick Messaging</h4>
                      <p>Sagittis blandit lorem, varius vit turpis lacus sem volutpat, ligula sit nibh feugiat, sed blandit et sit quisque amet.</p>
				    </div>
				  </div>
				</li>
				<li class="hidden-sm">
				  <div class="medium">
				    <div class="medium-left">
					  <i class="icon-basket fa-3x" aria-hidden="true"></i>
					</div>
				    <div class="medium-body">
                      <h4 class="medium-heading">Quick Shopping</h4>
                      <p>Sagittis blandit lorem, varius vit turpis lacus sem volutpat, ligula sit nibh feugiat, sed blandit et sit quisque amet.</p>
				    </div>
				  </div>
				</li>
              </ul>
            </div>
		    <!-- End Medium List -->
		  </div>
		</div>
    </div>
  </section>
  <!-- End Platform Section --> 
  
  <!-- Start Screenshot Section -->
  <section id="screenshots" class="padding-2x">
    <div class="container">
	  <div class="row">
	    <div class="col-md-6 col-md-offset-3">
          <div class="section-heading text-center">
		    <h2 class="title">App Screenshots</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. 
			Aenean nonummy hendrerit mauris.</p>
          </div>
        </div>
	  </div>
	  <div class="row">
	    <div id="slide-screen" class="owl-carousel">
		  <div><img class="img-rounded" src="images/screenshots/screen-369x656.png" alt="screenshot1"></div>
		  <div><img class="img-rounded" src="images/screenshots/screen-369x656.png" alt="screenshot2"></div>
		  <div><img class="img-rounded" src="images/screenshots/screen-369x656.png" alt="screenshot3"></div>
		  <div><img class="img-rounded" src="images/screenshots/screen-369x656.png" alt="screenshot4"></div>
		  <div><img class="img-rounded" src="images/screenshots/screen-369x656.png" alt="screenshot5"></div>
		  <div><img class="img-rounded" src="images/screenshots/screen-369x656.png" alt="screenshot6"></div>
		</div>
	  </div>
	</div>
  </section>
  <!-- End Screenshot Section -->
  
  <!-- Start FAQ Section -->
  <section id="faq" class="grey-bg padding-2x">
    <div class="container">
	  <div class="row">
	    <div class="col-md-6 col-md-offset-3">
		  <div class="section-heading text-center">
		    <h2 class="title">Frequently Asked Question</h2>
			<p>Magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada</p>
		  </div>
		</div>
	  </div>
	  <div class="row">
	    <div class="col-sm-6">
		  <!-- Start FAQ Block -->
		  <div id="accordion" class="faq-block">
			<div class="panel accordion-panel">
			  <h4 class="faq-heading">
			    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false">
				  Q: What is Lorem Ipsum?
				</a>
			  </h4>
			  <div id="collapseOne" class="accordion-body collapse">
			    <p>
				  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
				  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				</p>
			  </div>
			</div>
			<div class="panel accordion-panel">
			  <h4 class="faq-heading">
			    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#faqtwo" aria-expanded="false">
				  Q: What is Lorem Ipsum?
				</a>
			  </h4>
			  <div id="faqtwo" class="accordion-body collapse">
			    <p>
				  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
				  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				</p>
			  </div>
			</div>
			<div class="panel accordion-panel">
			  <h4 class="faq-heading">
			    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#faqthree" aria-expanded="false">
				  Q: What is Lorem Ipsum?
				</a>
			  </h4>
			  <div id="faqthree" class="accordion-body collapse">
			    <p>
				  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
				  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				</p>
			  </div>
			</div>
		  </div>
		  <!-- End FAQ Block -->
		</div>
	    <div class="col-sm-6">
		  <!-- Start FAQ Block -->
		  <div id="accordion-2" class="faq-block">
			<div class="panel accordion-panel">
				<h4 class="faq-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-2" href="#faqfour" aria-expanded="false">
					Q: What is Lorem Ipsum?
					</a>
				</h4>
				<div id="faqfour" class="accordion-body collapse">
				  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
					nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				  </p>
				</div>
			</div>
			<div class="panel accordion-panel">
				<h4 class="faq-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-2" href="#faqfive" aria-expanded="false">
					Q: What is Lorem Ipsum?
					</a>
				</h4>
				<div id="faqfive" class="accordion-body collapse">
				  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
					nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				  </p>
				</div>
			  </div>
			<div class="panel accordion-panel">
				<h4 class="faq-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-2" href="#faqsix" aria-expanded="false">
					Q: What is Lorem Ipsum?
					</a>
				</h4>
				<div id="faqsix" class="accordion-body collapse">
				  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
					nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				  </p>
				</div>
			  </div>
		  </div>
		  <!-- End FAQ Block -->
		</div>
	  </div>
	</div>
  </section>
  <!-- End FAQ Section -->
  
  <!-- Start Client Reviews -->
  <section id="reviews" class="padding-2x">
    <div class="container">
	  <div class="row">
	    <div class="col-md-6 col-md-offset-3">
		  <div class="section-heading text-center">
		    <h2 class="title">Clients Feedback</h2>
			<p>Nulla dui. Fusce feugiat malesuada odio.</p>
		  </div>
		</div>
	  </div>
	  <div class="row">
	    <ul class="review-timeline">
      <li>
        <div class="review-timeline-thumb">
		  <img class="img-circle img-responsive" src="images/review/246x246.png" alt="client-1">
		</div>
        <div class="review-timeline-panel">
          <div class="review-timeline-body">
            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipse elitis. Pra laq , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.
			</p>
			<ul class="reviewer">
			  <li><h4>Bred White / VLSI Group</h4></li>
			  <li>
			    <div class="stars"> Rated: 
			      <i class="fa fa-star"></i>
			      <i class="fa fa-star"></i>
			      <i class="fa fa-star"></i>
			      <i class="fa fa-star"></i>
			      <i class="fa fa-star-o"></i>
			  </div>
			</li>
			</ul>
          </div>
        </div>
      </li>
      <li class="review-timeline-inverted">
        <div class="review-timeline-thumb">
		  <img class="img-circle img-responsive" src="images/review/246x246.png" alt="client-1">
		</div>
        <div class="review-timeline-panel">
          <div class="review-timeline-body">
            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipse elitis. Pra laq , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.
			</p>
			<ul class="reviewer">
			  <li><h4>Tom Alex / Pixel Studio Inc</h4></li>
			  <li>
			    <div class="stars"> Rated: 
			      <i class="fa fa-star"></i>
			      <i class="fa fa-star"></i>
			      <i class="fa fa-star"></i>
			      <i class="fa fa-star"></i>
			      <i class="fa fa-star-o"></i>
			    </div>
			  </li>
			</ul>
          </div>
        </div>
      </li>
      <li>
        <div class="review-timeline-thumb">
		  <img class="img-circle img-responsive" src="images/review/246x246.png" alt="client-1">
		</div>
        <div class="review-timeline-panel">
          <div class="review-timeline-body">
            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipse elitis. Pra laq , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.
			</p>
			<ul class="reviewer">
			  <li><h4>Morgan / Texas Group</h4></li>
			  <li>
			    <div class="stars"> Rated: 
			      <i class="fa fa-star"></i>
			      <i class="fa fa-star"></i>
			      <i class="fa fa-star"></i>
			      <i class="fa fa-star"></i>
			      <i class="fa fa-star-o"></i>
			    </div>
			  </li>
			</ul>
          </div>
        </div>
      </li>

      <li class="clearfix" style="float: none;"></li>
    </ul>
	  </div>
	</div>
  </section>
  <!-- End Clients Feedback -->
  
  <!-- Begin Price and Plans -->
  <section id="plans" class="grey-bg padding-2x">
    <div class="container">
	  <div class="row">
	    <div class="col-md-6 col-md-offset-3">
		  <div class="section-heading text-center">
		    <h2 class="title">Price Plan</h2>
			<p>Magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada.</p>
		  </div>
		</div>
	  </div>
      <div class="row">
        <!-- item -->
        <div class="col-sm-12 col-md-4 text-center">
          <div class="panel-pricing">
            <div class="price-heading">
              <i class="icon-genius"></i>
              <h3>Standard</h3>
			  <p>For Small Company</p>
            </div>
            <div class="price-label">
              <h3><sup>$</sup>45</h3>
            </div>
            <ul class="list-unstyled text-center">
              <li class="hightlight-item">Personal use</li>
              <li class="hightlight-item">Single project</li>
              <li class="hightlight-item">27/7 support</li>
            </ul>
            <div class="panel-pricing-footer">
              <a class="btn btn-buy-plan" href="#">Buy Now</a>
            </div>
          </div>
        </div>
        <!-- /item -->
        <!-- item -->
        <div class="col-sm-12 col-md-4 text-center">
          <div class="panel-pricing popular">
            <div class="price-heading">
              <i class="icon-genius"></i>
              <h3>Professional</h3>
			  <p>For Mid-level Company</p>
            </div>
            <div class="price-label">
              <h3><sup>$</sup>75</h3>
            </div>
            <ul class="list-unstyled text-center">
              <li class="hightlight-item">Agency use</li>
              <li class="hightlight-item">Up to 10 projects</li>
              <li class="hightlight-item">27/7 support</li>
            </ul>
            <div class="panel-pricing-footer">
              <a class="btn btn-buy-plan" href="#">Buy Now</a>
            </div>
          </div>
        </div>
        <!-- /item -->
        <!-- item -->
        <div class="col-sm-12 col-md-4 text-center">
          <div class="panel-pricing">
            <div class="price-heading">
              <i class="icon-genius"></i>
              <h3>Enterprize</h3>
			  <p>For Large Company</p>
            </div>
            <div class="price-label">
              <h3><sup>$</sup>90</h3>
            </div>
            <ul class="list-unstyled text-center">
              <li class="hightlight-item">Enterprize use</li>
              <li class="hightlight-item">Unlimited projects</li>
              <li class="hightlight-item">27/7 support</li>
            </ul>
            <div class="panel-pricing-footer">
              <a class="btn btn-buy-plan" href="#">Buy Now</a>
            </div>
          </div>
        </div>
        <!-- /item -->
      </div>
    </div>
  </section>
  <!-- End Price Plans -->
  
  <!-- Start Contact Section  -->
  <section id="contactus">
    <div class="container">
	  <div class="row">
	    <div class="col-sm-6 col-md-6">
		 <!-- Start Contact Form -->
		  <div class="enquiry-box padding-2x">
		    <p>If you have a question, drop your message here.</p>
		    <form id="contact-form" method="post" action="contact.php" role="form" novalidate="true">
		      <div class="messages"></div>
			  <div class="controls">
			    <div class="row">
				  <div class="col-md-6">
				    <div class="form-group">
					  <input id="form_name" name="name" class="form-control" placeholder="Enter your firstname *" required="required" data-error="Firstname required." type="text">
					  <div class="help-block with-errors"></div>
				    </div>
                  </div>
				  <div class="col-md-6">
				    <div class="form-group">
					  <input id="form_lastname" name="surname" class="form-control" placeholder="Enter your lastname *" required="required" data-error="Lastname required." type="text">
					  <div class="help-block with-errors"></div>
				    </div>
				  </div>
			    </div>
                <div class="row">
				  <div class="col-md-6">
				    <div class="form-group">
					  <input id="form_email" name="email" class="form-control" placeholder="Enter your email *" required="required" data-error="Valid email required." type="email">
					  <div class="help-block with-errors"></div>
				    </div>
                  </div>
				  <div class="col-md-6">
				    <div class="form-group">
					  <input id="form_phone" name="phone" class="form-control" placeholder="Enter your phone" type="tel">
					  <div class="help-block with-errors"></div>
					</div>
				  </div>
			    </div>
                <div class="row">
				  <div class="col-md-12">
				    <div class="form-group">
					  <textarea id="form_message" name="message" class="form-control" placeholder="Message for us *" rows="4" required="required" data-error="Leave us a message."></textarea>
					  <div class="help-block with-errors"></div>
				    </div>
                  </div>
				  <div class="col-md-12">
				    <input class="btn btn-secondary btn-send disabled" value="Send message" type="submit">
				  </div>
				</div>
              </div>
			</form>
		  </div>
		</div>
		<div class="col-sm-6 col-md-6">
		  <div class="contact-info padding-2x">
		    <div class="medium">
		      <div class="medium-left">
			    <i class="icon-map fa-3x" aria-hidden="true"></i>
			  </div>
			  <div class="medium-body">
			    <h4 class="medium-heading">Address</h4>
			    <p>4, Some street, California, USA</p>
			  </div>
		    </div>
			<div class="medium">
		      <div class="medium-left">
			    <i class="icon-envelope fa-3x" aria-hidden="true"></i>
			  </div>
			  <div class="medium-body">
			    <h4 class="medium-heading">Email us</h4>
			    <p><a href="mailto:support@apphoot.com">support@apphoot.com</a></p>
			  </div>
		    </div>
		    <div class="medium">
		      <div class="medium-left">
			    <i class="icon-lifesaver fa-3x" aria-hidden="true"></i>
			  </div>
			  <div class="medium-body">
			    <h4 class="medium-heading">Our Hotline</h4>
			    <p>+1 234 567890</p>
			  </div>
		    </div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
  <!-- End Contact Section  -->
  
  <section id="twitter-feed" class="grey-bg padding-2x">
    <div class="container">
	  <div class="row">
	    <div class="col-md-6 col-md-offset-3">
		  <div class="section-heading text-center">
		    <h2 class="title">Latest Tweet</h2>
		  </div>
		</div>
	  </div>
	  <div class="row">
	    <div class="col-md-12">
	      <div id="twit-fetcher-container"></div>
		</div>
	  </div>
	</div>
  </section>
  
  <!-- Start Footer Section -->
  <footer>
    <div class="container">
	  <div class="row">
	    <div class="col-sm-8 col-md-6">
		  <div class="available-store">
			<a class="btn btn-platform">
			  <span class="fa fa-android"></span>
			  <em> Available on </em> Google Play
			</a>
			<a class="btn btn-platform">
			  <span class="fa fa-mobile"></span>
			  <em> Available on </em> App store
			</a>
		  </div>
		</div>
	    <div class="col-sm-4 col-md-6">
		  <div class="subscribe-box">
			<p>
			  <i class="icon-envelope fa-2x pull-left"></i> 
			  <span class="info">Sign up for latest updates, surveys & offers.</span>
			</p>
			<div class="footer-form">
			  <!-- Start Mailchimp Subscriber Form -->
			  <form id="mc-form" action="//top.us15.list-manage.com/subscribe/post?u=58b74d08e7756fe82df35e656&amp;id=1c0a4b038a" method="post" target="_blank" novalidate>
			    <div class="input-group">
			      <input id="mc-email" type="email" name="EMAIL" class="form-control" placeholder="Subscribe..." required>
				  <span class="input-group-btn">
				    <button class="btn btn-default" type="submit"><i class="fa fa-angle-right"></i></button>
				  </span>
				</div><!-- /input-group -->
				<div class="help-block with-errors"></div>
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_58b74d08e7756fe82df35e656_1c0a4b038a" tabindex="-1" value=""></div>
			  </form>
			  <!-- End Mailchimp Subscriber Form -->
			</div>
		  </div>
		</div>
	  </div>
	  <div class="row">
	    <div class="copyright">
		  <div class="col-sm-4 col-md-4">
			<p><span class="hidden-sm">Copyright</span> &copy; Apphoot. All Rights Reserved.</p>
		  </div>
		  <div class="col-sm-4 text-center">
		    <ul class="inline-menu list-unstyled">
			  <li>
				<a class="inline-menu-item" href="#">Contact</a>
			  </li>
			  <li>
				<a class="inline-menu-item" href="#">Sitemap</a>
			  </li>
			  <li>
				<a class="inline-menu-item" href="#">Terms</a>
			  </li>
			  <li>
				<a class="inline-menu-item" href="#">Privacy</a>
			  </li>
			</ul>
		  </div>
		  <div class="col-sm-4 col-md-4">
			<ul class="social-links text-right">
			  <li>
			    <a href="#" class="ico-facebook">
				  <span class="fa fa-facebook"></span>
				</a>
			  </li>
			  <li>
			    <a href="#" class="ico-twitter">
				  <span class="fa fa-twitter"></span>
				</a>
			  </li>
			  <li>
			    <a href="#" class="ico-google-plus">
				  <span class="fa fa-google-plus"></span>
				</a>
			  </li>
			  <li>
			    <a href="#" class="ico-linkedin">
				  <span class="fa fa-linkedin"></span>
				</a>
			  </li>
			  <li>
			    <a href="#" class="ico-instagram">
				  <span class="fa fa-instagram"></span>
				</a>
			  </li>
			  <li>
			    <a href="#" class="ico-youtube">
				  <span class="fa fa-youtube"></span>
				</a>
			  </li>
			</ul>
		  </div>
		  <div class="clearfix"></div>
		</div>
	  </div>
	</div>
  </footer>
  <!-- /Footer Section -->
 
  	
  <!-- Javascript Files -->

  <!-- initialize jQuery Library -->
  <script src="js/jquery-2.2.4.min.js"></script>
  
  <!-- for Bootstrap js -->
  <script src="js/bootstrap.min.js"></script>
  
  <!-- for Morphext js-->
  <script src="js/morphext.min.js"></script>
  
  <!-- for owl carousel slider js -->
  <script src="js/owl.carousel.min.js"></script>
  
  <!-- for Bootstrap-validator js -->
  <script src="js/validator.js"></script>
  
  <!-- for Ajax Contact js -->
  <script src="js/ajax-contact.js"></script>
  
  <!-- for jQuery easing js -->
  <script src="js/jquery.easing.min.js"></script>
  
  <!-- for twitter plugin -->
  <script src="js/twitsFetcher.js"></script>
  
  <!-- for smooth animatin  -->
  <script src="js/wow.min.js"></script>  
  
  <!-- for video plugin with youtube -->
  <script src="js/video.min.js"></script>
  <script src="js/youtube.min.js"></script>

  <!-- Custom js-->
  <script src="js/custom.js"></script>
  
  </body>	
</html>
