header ,footer,body {
    font-family: Cairo !important;

}



.uploudApp{
    padding-top: 21em;
    padding-left: 10em;
}




.planHome{
    padding-right: 12em !important;
    padding-left: 12em !important;
}

.footerMenu1{
    line-height: 0.5 !important;
    padding-top: 2em ;
}
.undellineHome{
    text-decoration-color:#F5CB00;
}




@media only screen and (max-width: 333px) {
    .interestedYou div{
        padding-left: 10em !important; 
        padding-right: 10em !important;
        /* border: 2px solid red; */
    }

        .serverHome{
        border: 2px solid red;

    }
}


@media only screen and (max-width: 575) {
    .serverHome{
        border: 2px solid red;

    }
}
