.hederHome ,footer,body,.hederMopile {
    font-family: Cairo !important;

}
.hederHome ul li,.hederMopile{
    font-weight: 700 ;
    font-size:16px ;
    color: red !important;
}


.uploudApp{
    padding-top: 21em;
    padding-left: 10em;
}

.newUserHome{
    position: inherit !important;

}


.planHome{
    padding-right: 12em !important;
    padding-left: 12em !important;
}

.footerMenu1{
    line-height: 0.5 !important;
    padding-top: 2em ;
}
.undellineHome{
    text-decoration-color:#F5CB00;
}





  /* header */
  
  .header {
    background-color: #000;
    /* box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */
    position: fixed;
    width: 100%;
    z-index: 3;
    color: #f4f4f4;

  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #000;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    color: #f4f4f4 !important;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    /* background-color: #f4f4f4ba; */
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 33px 20px;
    position: relative;
    user-select: none;
  }

  .header .menu-icon .navicon {
    background: white;
    display: block;
    /* color: aliceblue !important; */
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 440px;
    line-height: 0.2 !important;

  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  @media (min-width: 992px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
    .hederMopile{
        display: none;
    }
  }

  @media (max-width: 992px) {
    .navhomeheder{
        display: none !important;
    }
  }
  

  @media only screen and (max-width: 1024px) {
    .hederHome ul li,.hederMopile{
        font-weight: 500 ;
        font-size:14px ;

    }

  
  }




@media only screen and (max-width: 333px) {
    .interestedYou div{
        padding-left: 10em !important; 
        padding-right: 10em !important;
        /* border: 2px solid red; */
    }

        .serverHome{
        border: 2px solid red;

    }
}


@media only screen and (max-width: 575) {
    .serverHome{
        border: 2px solid red;

    }
}
